<footer class="site-foot box flow">
    <p>
        &copy; Copyright {{ now.Year }}. All rights reserved
    </p>
    <p class="cluster">
        <a href="/accessibility-statement">Accessibility Statement</a><span>•</span><a href="/privacy">Privacy Policy</a><span>•</span><a href="https://mastodon.ie/@abban" rel="me">Shout at me on Mastodon</a>
    </p>
    <p class="visually-hidden">This developer assures you that no GEN-AI was used to make this website.</p>
    {{ partial "svgs/no-gen-ai.html" }}
</footer>
